# Ignore raw data and output datasets
data/
dataset/
*.edf
*.npy
*.h5

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
.vscode/ 

# Ignore notes.txt
notes.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
logs/
sleepkit.log

# Python package/build artifacts
*.egg-info/
*.egg
dist/
build/
